@import "tailwindcss";

/* Professional form styles */
input[type="radio"]:checked {
  background-color: #f97316;
  border-color: #f97316;
}

input[type="checkbox"]:checked {
  background-color: #f97316;
  border-color: #f97316;
}

/* Disable all focus styles */
input:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
  box-shadow: none;
  border-color: inherit;
}

.material-icons-outlined {
  font-family: 'Material Icons Outlined';
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
